doctype html
html(lang="en")
  head
    title Are we (I)DE yet?
    link(rel="stylesheet" href="style.css")
    script(src="script.js")
    meta(charset="utf-8")
  body
    .container
      header
        h1 Are we (I)DE yet?
        p
          | An overview about the state of 
          a(href="https://www.rust-lang.org/") Rust
          |  support by text editors and their integrated brethren.
        p Below you'll find a table listing the comparable features of editors,
          | followed by specific information about single programs.
          | The last part presents some more tooling of Rust's ecosystem.
        p
          | Did you know, there is a 
          a(href="https://www.rust-lang.org/ides.html") plan
          |  for IDEs and a related 
          a(href="https://github.com/rust-lang/rfcs/blob/master/text/1317-ide.md") RFC
          | ?

      section
        include table.jade

        h1 Text Editors

        ul
          li
            a(name="atom")
            h2 Atom
            p.packages
              | Important packages:
              ul
                li
                  a(href="https://atom.io/packages/language-rust") language-rust
                li
                  a(href="https://atom.io/packages/ide-rust") ide-rust 
                  | automatically installs 
                  a(href="https://atom.io/packages/language-rust") language-rust 
                  span and 
                  a(href="https://atom.io/packages/atom-ide-ui") atom-ide-ui
                  | , provides rustfmt, racer, ide functionality via 
                  a(href="https://github.com/rust-lang-nursery/rls") RLS
                li
                  a(href="https://atom.io/packages/linter-rust") linter-rust 
                  | relying on 
                  a(href="https://atom.io/packages/linter") linter
                li: a(href="https://atom.io/packages/racer") racer
                li: a(href="https://atom.io/packages/rustfmt") rustfmt
                li: a(href="https://vertexclique.github.io/tokamak/") tokamak
                li
                  a(href="https://atom.io/packages/build-cargo") build-cargo 
                  | relying on 
                  a(href="https://atom.io/packages/build") build 
                  | and  
                  a(href="https://atom.io/packages/linter") linter
                li
                  a(href="https://atom.io/packages/atom-beautify") atom-beautify 
                  | which you can use to run rustfmt
                li: a(href="https://atom.io/packages/languageserver-rust") languageserver-rust
            p.last-update(title="Last update") 2018-02-26

          li
            a(name="bbedit")
            h2 BBEdit
            p.packages
              | Important packages: 
              a(href="https://github.com/ogham/Rust-BBEdit") Rust-BBEdit
            p.last-update(title="Last update") 2015-10-14

          li
            a(name="brackets")
            h2 Brackets
            p.packages
              | Important packages:
              a(href="https://github.com/rrandom/Brackets-Rust-IDE") Rust-IDE
            p.last-update(title="Last update") 2016-01-12

          li
            a(name="emacs")
            h2 Emacs
            p.packages
              | Important packages: 
              a(href="https://github.com/rust-lang/rust-mode") rust-mode
              | , 
              a(href="https://github.com/flycheck/flycheck-rust") flycheck-rust
              | , 
              a(href="https://github.com/racer-rust/emacs-racer") emacs-racer
              | , 
              a(href="https://github.com/freebroccolo/rust-snippets") rust-snippets
            p.last-update(title="Last update") 2018-03-04

          li
            a(name="mc")
            h2 Midnight Commander
            p.packages
              | Important packages: 
              a(href="https://github.com/chabapok/mc-rust-lang") mc-rust-lang
            p.last-update(title="Last update") 2017-08-25

          li
            a(name="geany")
            h2 Geany
            p.specific
              | Specific highlights:
              | Geany is one of the few editors with syntax highlighting out-of-the-box (since 1.24).
              | It has built in scripts to run rustc, and even cargo support is coming soon&trade;.
            p.last-update(title="Last update") 2015-08-16

          li
            a(name="gedit")
            h2 Gedit
            p.packages
              | Important packages:
              a(href="https://github.com/chronologicaldot/GEdit-Rust-lang") GEdit-Rust-lang (syntax highlighting)
              | , 
              a(href="https://github.com/rust-lang/gedit-config") gedit-config (also syntax highlighting)
              | , 
              a(href="https://github.com/isamert/gracer") gracer
            p.last-update(title="Last update") 2016-10-09

          li
            a(name="kate")
            h2 Kate
            p.specific
              | Specific highlights:
              | Kate is one of the few editors with syntax highlighting out-of-the-box. 
              | Plus, there is also support for Racer and through that autocompletion. Activate it with: 
              | Settings > Configure Kate > Plugins > Rust Code completion.
            p.last-update(title="Last update") 2017-08-19

          li
            a(name="textadept")
            h2 Textadept
            p.packages
              | Important packages:
              a(href="https://github.com/abaez/ta-rust") ta-rust
              | ,
              a(href="https://github.com/abaez/ta-toml") ta-toml
            p.specific
              | Specific highlights:
              | Textadept is one of the few editors with syntax highlighting out-of-the-box (since 8.0).
              | The module has built in scripts to run rustc with simple syntax checking and cargo support.
            p.last-update(title="Last update") 2015-10-13

          li
            a(name="sublime")
            h2 Sublime Text 2/3
            p.specific
              | Sublime supports Rust out-of-the-box with syntax highlighting, snippets, build scripts,
              | and its new 
              a(href="https://www.sublimetext.com/blog/articles/sublime-text-3-build-3124") definition system.
            p.packages
              | Important packages: 
              a(href="https://packagecontrol.io/packages/TOML") TOML
              | , 
              a(href="https://packagecontrol.io/packages/RustAutoComplete") RustAutoComplete
              | , 
              a(href="https://packagecontrol.io/packages/Rust%20Enhanced") Rust Enhanced
              | , 
              a(href="https://packagecontrol.io/packages/YcmdCompletion") YouCompleteMe plugin
              | , 
              a(href="https://packagecontrol.io/packages/BeautifyRust") BeautifyRust
            p.last-update(title="Last update") 2017-08-08
            
          li
            a(name="vim")
            h2 Vim and Neovim
            p.packages
              | Important packages:
              ul
                li
                  a(href="https://github.com/rust-lang/rust.vim") rust.vim
                li
                  a(href="http://blog.jwilm.io/youcompleteme-rust") YouCompleteMe-rust
                li
                  a(href="https://github.com/racer-rust/vim-racer") vim-racer
                li
                  a(href="https://github.com/scrooloose/syntastic") syntastic
                li
                  a(href="https://github.com/honza/vim-snippets") vim-snippets
                  |  (relying on 
                  a(href="https://github.com/sirver/ultisnips") UltiSnips
                  | )
            p.packages
              | Important Neovim-only packages:
              ul
                li
                  a(href="https://github.com/dbgx/lldb.nvim") lldb.nvim
                  |  (
                  a(href="https://github.com/dbgx/lldb.nvim/commit/56dfc2d945") unmaintained
                  |  as of 2018-03-11)
                li
                  a(href="https://github.com/roxma/nvim-cm-racer") nvim-cm-racer
                  |  (relying on 
                  a(href="https://github.com/roxma/nvim-completion-manager") nvim-completion-manager
                  | , which is 
                  a(href="https://github.com/roxma/nvim-completion-manager/issues/12#issuecomment-382334422") unmaintained
                  |  as of 2018-04-18)
            p.last-update(title="Last update") 2018-05-06
          li
            a(name="vscode")
            h2 VS Code
            p.packages
              | Important packages:
              a(href="https://marketplace.visualstudio.com/items?itemName=rust-lang.rust") Rust
              | ,
              a(href="https://marketplace.visualstudio.com/items?itemName=vadimcn.vscode-lldb") CodeLLDB
              | , 
              a(href="https://marketplace.visualstudio.com/items?itemName=webfreak.debug") Debug
              | , 
              a(href="https://marketplace.visualstudio.com/items?itemName=be5invis.toml") TOML Language Support
            p.last-update(tilte="Last update") 2018-04-11
            


      section
        h1 Integrated Development Environments

        ul
          li
            a(name="eclipse")
            h2 Eclipse
            p.packages
              | Unfortunately, 
              a(href="https://rustdt.github.io") RustDT
              | is discontinued and no other plugin for eclipse is in sight.
            p.specific With RustDT installed, you get:
            ul.features
              li project wizard
              li gdb debugging
              li go to definitions (including code from base Rust libraries and other third party libraries)
              li autocomplete using Racer
              li autoformat using rustfmt
            p.last-update(title="Last update") 2017-10-16

          li
            a(name="visualstudio")
            h2 Visual Studio (Community)
            p.packages
              | Important packages:
              a(href="https://github.com/PistonDevelopers/VisualRust") Visual Rust
              
            p
              | With Visual Rust you get
            ul.features
              li project support
              li build scripts
              li autocomplete using Racer
              li go to definition (including code from base Rust libraries and other third party libraries)
              li debugger powered by MIEngine
              li conditional breakpoints
              li watch window
              li immediate window (for contextual REPL experience)
              li using both the watch and the immediate window the runtime state can be changed
              li ability to drag and drop to change the next code line that will be executed
              li call stack view and navigation
            p.last-update(title="Last update") 2015-09-25

          li
            a(name="solidoak")
            h2 SolidOak
            p
              a(href="https://sekao.net/solidoak/") SolidOak
              |  is the first Rust-specific IDE.
              |  It has integrated
            ul.features
              li code completion
            p
              |  It wraps Cargo instructions for creating, building, testing and running projects.
            p.last-update(title="Last update") 2015-08-16

          li
            a(name="intellij")
            h2 IntelliJ IDEA
            p.packages
              | Important packages:
              a(href="https://intellij-rust.github.io/") intellij-rust
            p
              | Debugging is also supported via CLion. Check the 
              a(href="https://github.com/intellij-rust/intellij-rust/issues/535") discussion 
              | for progress.

            p.last-update(title="Last update") 2017-08-06

          li
            a(name="ride")
            h2 RIDE
            p
              a(href="https://github.com/madeso/ride") ride
              |  is another IDE that is exclusively built for Rust.
              |  It is still in a very early state, and the author suggests not to use it productively.
            p
              |  But if you want to take a look behind the curtains, you can do so on 
              a(href="https://www.youtube.com/playlist?list=PLLZf3o2GDQ_hHiXd_xqL_ShzGcU44WMi3") YouTube
              |  where he shows recordings of him programming ride.
            p.last-update(title="Last update") 2016-10-10

          li
            a(name="gnome-builder")
            h2 GNOME Builder
            p
              | With GNOME Builder you get out of the box
            ul.features
              li build integration with cargo
              li semantic syntax highlighter that knows about your types
              li autocomplete
              li go to definition (including code from base Rust libraries and other third party libraries)
              li as-you-type diagnostics
              li rename symbol
              li document symbol tree
              li toolchain management powered by rustup
            p.last-update(title="Last update") 2017-02-20

      section
        h1 Meta

        ul
          li
            a(name="racer")
            h2 Racer
            p
              a(href="https://github.com/phildawes/racer") Racer
              |  is a code completion tool for Rust that is developed standalone.
              |  It is the basis for code completion in pretty much every setup.
            p.last-update(title="Last update") 2015-08-16
          li
            a(name="rustfmt")
            h2 rustfmt
            p
              a(href="https://github.com/rust-lang-nursery/rustfmt") rustfmt
              |  is a code formatting tool which can easily be installed via 
              code cargo install rustfmt
            p.last-update(title="Last update") 2017-02-24
          li
            a(name="rusty-tags")
            h2 rusty-tags
            p
              a(href="https://github.com/dan-t/rusty-tags") rusty-tags
              |  provides tags for 
              a(href="http://ctags.sourceforge.net/") ctags 
              |  which can be used with all editors that support it.
            p.last-update(title="Last update") 2017-02-24

      footer
        ul
          li
            p
              | Background:
              br
              a(href="http://subtlepatterns.com/sprinkles/") Sprinkles
          li
            p
              | Inspiration:
              br
              a(href="http://arewewebyet.com/") Are we web yet?
          li
            p
              | Licensed under:
              br
              a(rel="license" href="http://creativecommons.org/licenses/by/4.0/")
                img(alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png")
          li
            p
              | You want to contribute?
              br
              a(href="https://github.com/contradictioned/areweideyet") GitHub
