body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #333;
	background: url(sprinkles.png);
	background-color: #F2ECD5;
}

.container {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
	background-color: white;
}

header {
	border: 1px solid #EEE;
	border-radius: 5px;
	background: #F2ECD5;
	padding: 2em;
	font-size: 20px;
}

.beta {
	color: red;
}

h1 {
	font-style: italic;
	text-align: right;
}
h2 {
	font-size: 20px;
}

section {
	border-bottom: 2px solid #EEE;
}

section > ul {
	padding: 0;
}

section > ul > li {
	list-style-type: none;
	border: 1px solid #EEE;
	margin: 0 0 2em 0;
	padding: 1em 1em 0em 1em;
}

h2 {
	margin: 0px 0px 5px 0px;
}

p {
	margin-top: .3em;
	margin-bottom: .3em;
}


ul.features {
	padding-left:1em;
}
ul.features > li {
	list-style-type: none
}
ul.features > li:before {
	padding-right: .4em;
	content: '\2611';
	color: #428bca;
}

/* Footer */
footer {
	margin-top:3em;
}
footer > ul {
	display: flex;
}
footer > ul > li {
	list-style-type: none;
	min-width: 0;
	flex-grow: 1;
}
#legal p {
	color: #888;
}


/* Links */
a:link {
	color: #f60;
	text-decoration: none;
}
a:visited {
	color: #f90;
}
a:hover {
	color: #f60;
	text-decoration: underline;
} 
a:focus {
	color: #f60;
	text-decoration: underline;
}
a:active {
	color: #f60;
}

/* Headline links */
h2 a:link {
	color: #333;
	text-decoration: none;
}
h2 a:visited {
	color: #333;
}
h2 a:hover {
	color: #f60;
	text-decoration: underline;
} 
h2 a:focus {
	color: #f60;
	text-decoration: underline;
}
h2 a:active {
	color: #f60;
}


/******************
 * OVERVIEW TABLE *
 *****************/

/* borders */
table#overview {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
table#overview td {
	border: 1px solid #CCC;
}
table#overview tbody tr {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}
table#overview tbody tr.separator {
	border-top: 2px solid #CCC;
}

/* headers */
table#overview thead tr th {
	height: 130px;
	white-space: nowrap;
	vertical-align: bottom;
	padding-bottom: 1em;
}
table#overview thead tr th div {
	transform: rotate(-45deg);
	width: 30px;
}

/* general style */
table#overview td, table#overview th {
	padding: .3em .6em;
}

div#overviewlegend {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

p.packages {
	line-height: 22px;
}

p.packages a {
	padding: 4px;
	margin: 2px;
	background-color: #f9f9f9;
	border-radius: 5px;
}

p.last-update {
	text-align: right;
	color: #CCC;
	font-size: 12px;
}

/* Show more row */
table#overview tr.show_more {
	text-align: center;
	background-color: #CCC;
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
	color:#777;
	padding: 1px;
/* display: none; */
}
table#overview .hidden {
	display: none;
}

/* This is initially hidden */
table#overview tr.shown {
  display: table-row !important;
}

table#overview tbody tr:hover:not(.show_more) {
	background-color: #F2ECD5;
}