table#overview
  thead
    tr
      th
      th
        div Syntax highlighting (.rs)
      //-th
        //-div Syntax highlighting (.toml)
      th
        div Snippets
      th
        div Code Completion
      th
        div Linting
      th
        div Code Formatting
      th
        div Go-to Definition
      th
        div Debugging
      th
        div Documentation Tooltips
  tbody
    tr
      th.name
        a(href="#atom") Atom
      td.highlighting ✓<sup>1</sup>
      //-td.tomlhighlighting
      td.snippets ✓<sup>1</sup>
      td.completion ✓<sup>1</sup>
      td.linting ✓<sup>1</sup>
      td.formatting ✓<sup>1</sup>
      td.goto ✓<sup>1</sup>
      td.debugging
      td.doctooltips ✓<sup>1</sup>
    tr
      th.name
        a(href="#bbedit") BBedit
      td.highlighting ✓<sup>1</sup>
      //-td.tomlhighlighting
      td.snippets ✓<sup>1</sup>
      td.completion
      td.linting
      td.formatting
      td.goto
      td.debugging
      td.doctooltips
    tr
      th.name
        a(href="#emacs") Emacs
      td.highlighting ✓<sup>1</sup>
      //-td.tomlhighlighting
      td.snippets ✓<sup>1</sup>
      td.completion ✓<sup>2</sup>
      td.linting ✓<sup>1</sup>
      td.formatting ✓<sup>1</sup>
      td.goto ✓<sup>2</sup>
      td.debugging
      td.doctooltips ✓<sup>2</sup>
    tr
      th.name
        a(href="#mc") Midnight Commander
      td.highlighting ✓<sup>1</sup>
      //-td.tomlhighlighting
      td.snippets
      td.completion
      td.linting
      td.formatting
      td.goto
      td.debugging
      td.doctooltips

    tr
      th.name
        a(href="#textadept") Textadept
      td.highlighting ✓
      //-td.tomlhighlighting ✓
      td.snippets ✓<sup>1</sup>
      td.completion ✓<sup>1</sup>
      td.linting ✓<sup>1</sup>
      td.formatting
      td.goto ✓<sup>1</sup>
      td.debugging
      td.doctooltips
    tr
      th(title="Sublime Text 2/3").name
        a(href="#sublime") Sublime
      td.highlighting ✓
      //-td.tomlhighlighting ✓<sup>1</sup>
      td.snippets ✓
      td.completion ✓<sup>2</sup>
      td.linting ✓
      td.formatting ✓<sup>1</sup>
      td.goto ✓<sup>2</sup>
      td.debugging
      td.doctooltips
    tr
      th.name
        a(href="#vim") Vim/Neovim
      td.highlighting ✓<sup>1</sup>
      //-td.tomlhighlighting
      td.snippets ✓<sup>1</sup>
      td.completion ✓<sup>2</sup>
      td.linting ✓<sup>2</sup>
      td.formatting ✓<sup>1</sup>
      td.goto ✓<sup>2</sup>
      td.debugging
      td.doctooltips ✓<sup>2</sup>
    tr
      th.name
        a(href="#vscode") VS Code
      td.highlighting ✓
      td.snippets ✓
      td.completion ✓<sup>2</sup>
      td.linting ✓<sup>1</sup>
      td.formatting ✓<sup>1</sup>
      td.goto ✓<sup>2</sup>
      td.debugging ✓<sup>1</sup>
      td.doctooltips ✓<sup>2</sup>
    //--------
    //- More -
    //--------
    tr.show_more
      td(colspan="9") Show more editors ⇩
    tr.more
      th.name
        a(href="#gedit") gedit
      td.highlighting ✓<sup>1</sup>
      td.snippets
      td.completion ✓<sup>2</sup>
      td.linting
      td.formatting
      td.goto ✓<sup>2</sup>
      td.debugging
      td.doctooltips
    tr.more
      th.name
        a(href="#geany") Geany
      td.highlighting ✓
      //-td.tomlhighlighting
      td.snippets
      td.completion
      td.linting
      td.formatting
      td.goto
      td.debugging
      td.doctooltips
    tr.more
      th.name
        a(href="#kate") Kate
      td.highlighting ✓
      //-td.tomlhighlighting
      td.snippets
      td.completion ✓<sup>2</sup>
      td.linting
      td.formatting
      td.goto
      td.debugging
      td.doctooltips
    //--------
    //- IDEs -
    //--------
    tr.separator
      th.name
        a(href="#eclipse") Eclipse
      td.highlighting ✓<sup>1</sup>
      //-td.tomlhighlighting
      td.snippets ✓<sup>1</sup>
      td.completion ✓<sup>2</sup>
      td.linting ✓<sup>1</sup>
      td.formatting ✓<sup>1</sup>
      td.goto ✓<sup>1</sup>
      td.debugging ✓<sup>1</sup>
      td.doctooltips
    tr
      th.name
        a(href="#intellij") IntelliJ IDEA
      td.highlighting ✓<sup>1</sup>
      //-td.tomlhighlighting
      td.snippets ✓<sup>1</sup>
      td.completion ✓<sup>1</sup>
      td.linting ✓<sup>1</sup>
      td.formatting ✓<sup>1</sup>
      td.goto ✓<sup>1</sup>
      td.debugging ✓<sup>1</sup>
      td.doctooltips ✓<sup>1</sup>
    tr
      th.name
        a(href="#visualstudio") Visual Studio
      td.highlighting ✓
      //-td.tomlhighlighting
      td.snippets
      td.completion ✓<sup>2</sup>
      td.linting
      td.formatting
      td.goto ✓<sup>1</sup>
      td.debugging ✓<sup>1</sup>
      td.doctooltips
    tr
      th.name
        a(href="#gnome-builder") GNOME Builder
      td.highlighting ✓
      //-td.tomlhighlighting
      td.snippets ✓
      td.completion ✓
      td.linting ✓
      td.formatting
      td.goto ✓
      td.debugging
      td.doctooltips
    tr.show_more
      td(colspan="9") Show more IDEs ⇩
    //--------
    //- More -
    //--------
    tr.more
      th.name
        a(href="#ride") Ride
      td.highlighting ✓
      //-td.tomlhighlighting
      td.snippets
      td.completion
      td.linting
      td.formatting
      td.goto
      td.debugging
      td.doctooltips
    tr.more
      th.name
        a(href="#solidoak") SolidOak
      td.highlighting ✓
      //-td.tomlhighlighting
      td.snippets
      td.completion ✓<sup>2</sup>
      td.linting
      td.formatting
      td.goto
      td.debugging
      td.doctooltips
#overviewlegend
  p
    | ✓ = supported out-of-the-box,
    | ✓<sup>1</sup> = supported via plugin,
    | ✓<sup>2</sup> = supported via racer and plugin
